
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600')



$main-font: "Source Sans Pro", sans-serif
$tr-height: 45px
$tbody-height: 4 * $tr-height

*
  margin: 0
  padding: 0
  -webkit-font-smoothing: antialiased

h1
  color: gray

aside
  display: flex
  margin-bottom: 50px
#app
  background-image: url(../media/bg.jpg)
  background-size: cover
  background-repeat: no-repeat
  font-family: $main-font
  display: flex
  flex-direction: column
  width: 100vw
  height: 100vh
  justify-content: center
  align-items: center
table
  padding: 2px
  flex-basis: 0
  display: inline-block
  background: rgba(255,255,255,0.6)
  border-radius: 5px
  box-shadow: 0 10px 50px 0px rgba(0,0,0,0.1)
  width: 60%
  min-width: 500px
thead
  display: table
  table-layout: auto
  text-align: center
  border-bottom: 1px solid rgba(0,0,0,0.1)
th
  height: 50px
  font-weight: 600
  font-size: 20px
  box-sizing: border-box
  text-transform: capitalize
tbody
  display: block
  background: white
  height: $tbody-height
  overflow: auto
  & tr
    font-size: 15px
    padding: 0 5px
    text-align: center
    height: $tr-height
    text-transform: capitalize
    box-sizing: border-box
    border: 0.1px solid rgba(0,0,0,0.07)
thead, tbody tr
  display: table
  height: $tr-height
  width: 100%
  table-layout: fixed

.icon
  margin: 2vw
  width: 50px
  height: 50px
  background-size: contain
  transition: all 250ms
  cursor: pointer
  &:hover
    transform: scale(1.5)
#bar.icon
  background-image: url(../media/icons/bar.png)
#café.icon
  background-image: url(../media/icons/cafe.png)
#restaurant.icon
  background-image: url(../media/icons/restaurant.png)
